@use './lib/scss/reset' as *;
@use './lib/scss/themes' as *;
@use './lib/scss/breakpoints' as *;
@use './lib/scss/variables' as *;
@use './lib/scss/mixins' as *;
@use './lib/scss/base' as *;
@use './lib/scss/buttons' as *;
@use './lib/scss/cards' as *;
@use './lib/scss/code-highlights' as *;
@use './lib/scss/markdown' as *;

body {
  --body-background-color: var(--page-background-color);
  --body-background-color-rgb: var(--page-background-color-rgb);
  background-color: var(--body-background-color);
  color: var(--text-color);
  fill: var(--text-color);
  transition: all 0.4s ease;
  font-family: var(--default-font);
  line-height: 1.3;
  scroll-behavior: smooth;

  height: 100%;
  min-height: 100vh;
  /* safari viewport bug fix */
  min-height: -webkit-fill-available;

  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
}

#svelte-root {
  height: 100%;
  position: relative;
}
